[submodule "libs/SDL_image"]
	path = libs/SDL_image
	url = git@github.com:libsdl-org/SDL_image.git
[submodule "libs/SDL_ttf"]
	path = libs/SDL_ttf
	url = git@github.com:libsdl-org/SDL_ttf.git
[submodule "libs/SDL"]
	path = libs/SDL
	url = git@github.com:libsdl-org/SDL.git
[submodule "libs/googletest"]
	path = libs/googletest
	url = https://github.com/google/googletest.git
[submodule "libs/json"]
	path = libs/json
	url = https://github.com/nlohmann/json.git
[submodule "libs/CPPNanoString"]
	path = libs/CPPNanoString
	url = git@github.com:RuslanZhuch/CPPNanoString.git
